<mat-sidenav-container class="myblog-content">
  <mat-sidenav-content fxLayout="row">
    <div class="myblog-left-content" fxFlexOffset="10" fxFlex="65">
      <mat-card>Simple card</mat-card>
      <form>
        <mat-form-field>
          <input
            class="toolbar-search"
            type="text"
            matInput
            placeholder="search"
          />
          <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="myblog-toc" fxFlex="25"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
